.element {
  width: var(--btn);
  height: var(--btn);
  background-color: rgba(94, 89, 89, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.element.user {
  background-color: green;
}

.element.pc {
  background-color: red;
}

.toxic {
  animation: rotate 5s infinite linear;
  background-color: transparent;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
